
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header {
    background-image: linear-gradient(to left, #D8C8FF, #E0D2FF, #E8DCFF, #F0E6FF);
    color: #36454F;
    text-align: center ;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    
}

nav {
    background-image: linear-gradient(to left, #D8C8FF, #E0D2FF, #E8DCFF, #F0E6FF);
    padding: 10px;
    width: auto;
    border-bottom: 1px;
    margin-top: 20px;
    margin-right: 200px;
}

nav a {
    color: #36454F;
    text-decoration:solid;
    font-weight: bold;
    margin: 0 10px;
    text-align: right;
    font-weight: bold;
}

main {
    flex: 1;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 20px 0;
    color: #36454F;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
img {
    max-width: 200px;
    max-height: 200px;
    float: left;
    content:icon;
    justify-content: space-around;
}
h1 {
    margin-right: 200px;
    margin-top: 40px;
    font-size:2.2rem;
    font-weight: bold;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 180px); 
    grid-template-rows: repeat(4, 100px); 
    grid-gap: 10px;
    color-interpolation-filters: auto;
    border-style: solid;
    border-color: #D8C8FF;
    border-width: 7px;
    
    width: 600px;
    height: 460px;
  }
  .treatment_options {
    width: 100%;
    height: auto;
    border: 5px solid #D8C8FF;
    padding: 10px;
    min-height: 100px; 
    
  }

  tr, th {
    border: 2px solid #D8C8FF;
    font-size: 18px ;
    padding: 3px;
  }
  td {
    border: 1px solid #D8C8FF;
    text-align: center;
    font-size: 16px;
    padding: 1px;
    min-height: 100px;
    height: 100px;
  }

.treatments {
    margin-left: 100px;
    margin-right: 100px;
    
}

.contacts {
    width: 1200px;
}

.main {
    width: 1200px;
}

.book {
    width: 1200px;
}