* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header {
    background-image: linear-gradient(to left, #D8C8FF, #E0D2FF, #E8DCFF, #F0E6FF);
    color: white;
    text-align: center ;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    
}

nav {
    background-image: linear-gradient(to left, #D8C8FF, #E0D2FF, #E8DCFF, #F0E6FF);
    padding: 10px;
    text-align: center;
    border-bottom: 1px;
    margin-top: 20px;
    
    
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    margin-right: 200px;
    font-weight: bold;
    
    
    
}

main {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
img {
    max-width: 200px;
    max-height: 200px;
    float: left;
}
h1 {
    margin-right: 200px;
    margin-top: 40px;
    font-size:2.2rem;
    font-weight: bold;
}