body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;

}
nav {
    background-image: linear-gradient(to left, #BE00BE, #F5C6F5);
    padding: 10px;
    text-align: center;
    position: absolute;
    

}
header {
    background-image: linear-gradient(to left, #BE00BE, #F5C6F5);
    color: white;
    text-align: center;
    padding: 1rem;
}
nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;

}
section {
    margin: 20px 0;

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    align-items: start;

}